<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IndieAuth Ticket Auth (Proof of Concept)</title>
  </head>
  <body>
    <h1>IndieAuth Ticket Auth (Proof of Concept)</h1>

    <p>Within the <a href="https://indieweb.org/">IndieWeb</a>, community, we're working on a standard called <a href="https://indieweb.org/IndieAuth_Ticket_Auth">Ticket Auth</a>, to build upon the open identity standard<a href="https://indieauth.spec.indieweb.org/">IndieAuth</a>.</p>

    <p>As part of our investigation, we are developing different POCs that can be used to investigate the utility of the standard.</p>

    <p>You can use this by adding the following to your profile URL's &lt;head&gt;</p>

    <pre>
       &lt;link rel="ticket_endpoint" href="https://indieauth-ticket-auth-poc.herokuapp.com/ticket"&gt;
    </pre>

    <p>Note that this service may not currently log the access tokens, but you should expect it to. This hosted service should only be used for testing, and at the point you want to issue tokens that could do real, possible, damage, to your online identity.</p>

    <footer>
      This code is <a href="https://gitlab.com/jamietanna/ticket-auth-poc/">Open Source</a>.
    </footer>
  </body>
</html>
